<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AniVerse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Search for Anime Characters</h1>
        <input type="text" id="searchInput" placeholder="Enter character name" oninput="checkInput()" />
        <button id="searchButton" onclick="searchCharacter()">Search</button>

        <div class="character-slider-container" id="characterContainer">
        </div>

        <div class="buttons">
            <button id="prev">Previous</button>
            <button id="next">Next</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
